{% extends "base.html" %}

{% block content %}
<h1>Tickets</h1>
<form action="" method="post">
    {{ form.hidden_tag() }}
    <p>
        {{ form.title.label }} {{ form.title(size=20) }}
    </p>
    <p>
        {{ form.description.label }} {{ form.description(size=40) }}
    </p>
    <p>
        {{ form.status.label }} {{ form.status() }}
    </p>
    <p>
        {{ form.user_id.label }} {{ form.user_id() }}
    </p>
    <p>
        {{ form.group_id.label }} {{ form.group_id() }}
    </p>
    <p>
        {{ form.note.label }} {{ form.note(size=40) }}
    </p>
    <p>{{ form.submit() }}</p>
</form>
<ul>
    {% for ticket in tickets %}
    <li>
        <h2>{{ ticket.title }}</h2>
        <p>{{ ticket.description }}</p>
        <p>{{ ticket.status }}</p>
        <p>{{ ticket.user.username }}</p>
        <p>{{ ticket.group.name }}</p>
        <p>{{ ticket.note }}</p>
    </li>
    {% endfor %}
</ul>
{% endblock %}